.home{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    display: inline-block;
}
.home2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 66px;
    display: inline-block;
    color: #EC454C;
}
.searchText{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #BDBDBD;
}
