:root{
    font-family: 'Lato';
}
/* .home{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 66px;
    display: inline-block;
    text-align: center;
}
.home2{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 66px;
    display: inline-block;
    color: #EC454C;
    text-align: center;
}
.searchText{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #BDBDBD;
}
.searchbar{
    margin-top: 50px;
} */