.circle {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #EC454C;
  position: fixed;
  top: 10%; 
  right: 5%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.05s ease-in-out;
}

.circle:hover:not(.modal-open) {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
}

.small-circle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  z-index: 2;
}

.rectangle {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5px;
  height: 12px;
  border-radius: 5px;
  background-color: white;
  pointer-events: none;
  z-index: 2;
  position: relative;
}

.triangle {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid rgba(16, 16, 16, 0.7);
}

.modal-overlay {
  background-color: rgba(16, 16, 16, 0.7);
  position: absolute;
  top: 7.4vh;
  right: -22%;
  width: 25vw;
  z-index: ;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  color: white;
  border-radius: 12px;
  padding: 37px;
}

.modal {
  border-radius: 5px;
  padding: 20px;
  z-index: 6; 
}

.modal-overlay h2 {
  margin-top: 0;
  font-size: 20px;
  color: white;
}
.modal-overlay h3{
  margin-top: 0;
  font-size: 16px;
  color: white;
}

.modal-overlay h4{
  margin-top: 0;
  font-size: 20px;
  color: white;
  line-height: 3;
}

.modal-overlay p {
  margin-bottom: 0;
  font-size: 14px;
  color: #CCCCCC;
}

.circle.modal-open:hover {
  box-shadow: none;
}

